{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Culinary Compass</title>
    <link rel="stylesheet" href="{% static 'css/top.css' %}">
    <script src="https://kit.fontawesome.com/0ba2ede4c9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Encode+Sans+SC:wght@100..900&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Parisienne&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav>
            <input type="checkbox" id="check" class="checkbox">
            <label for="check" class="checkbtn">
                <i class="fa-solid fa-bars"></i>
            </label>
            <a href="/"><img src="{% static 'images/Culinary Compass Logo.png' %}" class="logo"></a>
            <ul>
                <label for="check" class="checkbtn">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <li><a class="top" href="{% url 'myapp:top' %}">Our Top Picks</a></li>
                <li><a class="tips" href="{% url 'myapp:tip' %}">Kitchen Tips</a></li>
                <li><a class="about" href="{% url 'myapp:about' %}">About Us</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>Our Top Picks</h1>
            <p>Welcome to our Top Picks page, where we’ve curated a handpicked selection of our favorite recipes. From crowd-pleasers to hidden gems, these are the dishes we’re most excited to share with you. Explore the best of what our platform has to offer, all in one place!</p>
            <img src="{% static 'images/trans.jpeg' %}" alt="transparent">
        </div>

        <div class="but">
            <h class="h1">Butter Chicken</h>
            <p class="s1">Butter chicken, or "murgh makhani," is a rich and creamy Indian dish featuring tender chicken cooked in a spiced tomato-based sauce with butter and cream. It is known for its velvety texture and balanced flavors, often served with naan or rice.</p>
            <button id="close-image">
                <img src="{% static 'images/butter.jpg' %}" alt="Button">
            </button>
        </div>

        <div class="french">
            <h class="h1">Blueberry Stuffed Croissant</h>
            <p class="s1">Blueberry Stuffed Croissant French Toast with Bacon is a decadent breakfast dish featuring flaky croissants filled with sweet blueberries, soaked in a rich custard, and cooked to golden perfection. Served with crispy bacon, it offers a delightful balance of sweet and savory flavors.</p>
            <button id="close-image1">
                <img src="{% static 'images/french.png' %}" alt="Button">
            </button>
        </div>
        

        <div class="mous">
            <h class="h1">Classic Greek Moussaka</h>
            <p class="s1">Classic Greek Moussaka is a savory casserole made with layers of tender eggplant, spiced ground meat, and a creamy béchamel sauce, all baked to golden perfection. This traditional dish offers a rich combination of flavors and textures, making it a beloved comfort food in Greek cuisine.</p>
            <button id="close-image3">
                <img src="{% static 'images/Moussaka.jpg' %}" alt="Button">
            </button>
        </div>

        <div class="kk">
            <h class="h1">KK's Fish Tacos</h>
            <p class="s1">KK's Fish Tacos showcase perfectly seasoned, crispy fish nestled in warm tortillas, topped with fresh ingredients and a tangy, zesty sauce. This vibrant dish delivers a delicious blend of textures and flavors, offering a satisfying twist on a coastal classic.</p>
            <button id="close-image2">
                <img src="{% static 'images/kks.jpg' %}" alt="Button">
            </button>
        </div>
        <script>
            document.getElementById('close-image2').addEventListener('click', function() {
                window.location.href = 'http://127.0.0.1:8000/details/?recipe_id=648974&query=fish%20tacos';
            });
        </script>
    </div>

</body>
<div class="socialIcons">
    <a href="https://x.com/culinary_comp"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://github.com/110646/Culinary-Compass"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.youtube.com/@culinarycompass_us"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://www.instagram.com/culinarycompass.us/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSd9PxmgOlJKLoaEQSaEBjn31CpK9ph9t5uTsxxod4z2tHMhag/viewform?usp=header"><i class="fa-solid fa-envelope"></i></a>
</div>
<footer>
    <div class="footerContainer">
        <div class="footerNav">
            <ul><li><a href="/">Home</a></li>
                <li><a href="{% url 'myapp:tip' %}">Kitchen Tips</a></li>
                <li><a href="{% url 'myapp:about' %}">About</a></li>
                <li><a href="{% url 'myapp:top' %}">Top Picks</a></li>
            </ul>
        </div>   
    </div>
    <div class="footerBottom">
        <p>Copyright &copy;2024;<span class="designer">DESIGNED BY YOGESH KARTHIKEYAN AND VISHAKH MISHRA</span></p>
    </div>
</footer>
</html>
<!--This will be the makshift css file for the background image rendering for the project-->
    <style>
        .container {
            width: 100%;
            min-height: 100vh;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 10px 8%;
            background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('{% static "images/pastabackground.jpg" %}');
        }
    </style>
</html>